.content {
    display: flex;
    flex-direction: column;
    h3 {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
    }
    p {
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
    }
    
}