header {
    background: @primary-1;
    img {
        width: 50%;
        height: 50%;
        max-width: 145px;
        max-height: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
