html {
    background: @background;
}

h2,h3,h4,h5,h6 {
    color: @primary-1;
}

body {
    font-family: 'lato', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

@import 'mixins.less';
@import 'header.less';
@import 'nav.less';
@import 'content.less';
