nav {
    display: flex;
    justify-content: center;
    .navbar {
        text-decoration: none;
        padding: 8.5px 23.75px;
        border: 1px solid @primary-1;
        margin: 0px 10px 30px;
        background: @primary-1;
        color: @navtext;
        border-radius: 20px;
    }
}